* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
css box model defines 5 property 
1.border
2.margin
3.padding
4.width
5.height
 */
body {
  height: 100vh;
}
